[support-outgoing]
; MTS KRASNODAR
exten = _+7978[078]XXXXXX,1,Dial(${gsm_24}/24${EXTEN:0},60,grT)
exten = _+7978[078]XXXXXX,2,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?5)
exten = _+7978[078]XXXXXX,3,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?5)
exten = _+7978[078]XXXXXX,4,Hangup()
exten = _+7978[078]XXXXXX,5,Dial(${gsm_23}/23${EXTEN:0},60,grT)
exten = _+7978[078]XXXXXX,6,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?9)
exten = _+7978[078]XXXXXX,7,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?9)
exten = _+7978[078]XXXXXX,8,Hangup()
exten = _+7978[078]XXXXXX,9,Dial(${gsm_22}/22${EXTEN:0},60,grT)
exten = _+7978[078]XXXXXX,10,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?13)
exten = _+7978[078]XXXXXX,11,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?13)
exten = _+7978[078]XXXXXX,12,Hangup()
exten = _+7978[078]XXXXXX,13,Dial(${gsm_21}/21${EXTEN:0},60,grT)
exten = _+7978[078]XXXXXX,14,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?17)
exten = _+7978[078]XXXXXX,15,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?17)
exten = _+7978[078]XXXXXX,16,Hangup()
;exten = _+7978[078]XXXXXX,17,Dial(${gsm_20}/20${EXTEN:0},60,grT)
;exten = _+7978[078]XXXXXX,18,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?21)
;exten = _+7978[078]XXXXXX,19,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?21)
;exten = _+7978[078]XXXXXX,20,Hangup()
exten = _+7978[078]XXXXXX,21,Dial(${gsm_19}/19${EXTEN:0},60,grT)
exten = _+7978[078]XXXXXX,22,Hangup()

; MTS RUSSIA
exten = _+79[18][0-9]XXXXXXX,1,Dial(${gsm_24}/24${EXTEN:0},60,grT)
exten = _+79[18][0-9]XXXXXXX,2,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?5)
exten = _+79[18][0-9]XXXXXXX,3,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?5)
exten = _+79[18][0-9]XXXXXXX,4,Hangup()
exten = _+79[18][0-9]XXXXXXX,5,Dial(${gsm_23}/23${EXTEN:0},60,grT)
exten = _+79[18][0-9]XXXXXXX,6,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?9)
exten = _+79[18][0-9]XXXXXXX,7,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?9)
exten = _+79[18][0-9]XXXXXXX,8,Hangup()
exten = _+79[18][0-9]XXXXXXX,9,Dial(${gsm_22}/22${EXTEN:0},60,grT)
exten = _+79[18][0-9]XXXXXXX,10,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?13)
exten = _+79[18][0-9]XXXXXXX,11,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?13)
exten = _+79[18][0-9]XXXXXXX,12,Hangup()
exten = _+79[18][0-9]XXXXXXX,13,Dial(${gsm_21}/21${EXTEN:0},60,grT)
exten = _+79[18][0-9]XXXXXXX,14,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?17)
exten = _+79[18][0-9]XXXXXXX,15,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?17)
exten = _+79[18][0-9]XXXXXXX,16,Hangup()
;exten = _+79[18][0-9]XXXXXXX,17,Dial(${gsm_20}/20${EXTEN:0},60,grT)
;exten = _+79[18][0-9]XXXXXXX,18,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?21)
;exten = _+79[18][0-9]XXXXXXX,19,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?21)
;exten = _+79[18][0-9]XXXXXXX,20,Hangup()
exten = _+79[18][0-9]XXXXXXX,17,Dial(${gsm_19}/19${EXTEN:0},60,grT)
exten = _+79[18][0-9]XXXXXXX,18,Hangup()

; TOOL-FREE RUSSIA
exten = _8800XXXXXXX,1,Dial(${gsm_24}/24${EXTEN:0},60,grT)
exten = _8800XXXXXXX,2,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?5)
exten = _8800XXXXXXX,3,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?5)
exten = _8800XXXXXXX,4,Hangup()
exten = _8800XXXXXXX,5,Dial(${gsm_23}/23${EXTEN:0},60,grT)
exten = _8800XXXXXXX,6,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?9)
exten = _8800XXXXXXX,7,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?9)
exten = _8800XXXXXXX,8,Hangup()
exten = _8800XXXXXXX,9,Dial(${gsm_22}/22${EXTEN:0},60,grT)
exten = _8800XXXXXXX,10,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?13)
exten = _8800XXXXXXX,11,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?13)
exten = _8800XXXXXXX,12,Hangup()
exten = _8800XXXXXXX,13,Dial(${gsm_21}/21${EXTEN:0},60,grT)
exten = _8800XXXXXXX,14,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?17)
exten = _8800XXXXXXX,15,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?17)
exten = _8800XXXXXXX,16,Hangup()
;exten = _8800XXXXXXX,17,Dial(${gsm_20}/20${EXTEN:0},60,grT)
;exten = _8800XXXXXXX,18,GotoIf($["${DIALSTATUS}" = "CONGESTION"]?21)
;exten = _8800XXXXXXX,19,GotoIf($["${DIALSTATUS}" = "CHANUNAVAIL"]?21)
;exten = _8800XXXXXXX,20,Hangup()
exten = _8800XXXXXXX,17,Dial(${gsm_19}/19${EXTEN:0},60,grT)
exten = _8800XXXXXXX,18,Hangup()

